@font-face {
  font-family: "Inter";
  src: local("Inter"),
    url(assets/fonts/Inter-VariableFont_slnt_wght.ttf) format("truetype");
  font-weight: 400 800;
}

:root {
  --clr-primary-100: hsl(35, 77%, 62%);
  --clr-primary-200: hsl(5, 85%, 63%);

  --clr-neutral-100: hsl(36, 100%, 99%);
  --clr-neutral-200: hsl(233, 8%, 79%);
  --clr-neutral-300: hsl(236, 13%, 42%);
  --clr-neutral-400: hsl(240, 100%, 5%);

  --size-100: 1rem;
  --size-150: 1.25rem;
  --size-200: 1.5rem;
  --size-300: 2rem;
  --size-400: 2.5rem;
  --size-500: 3rem;
  --size-600: 3.5rem;
  --size-700: 4rem;

  --ff-primary: "Inter";

  --fw-100: 400;
  --fw-200: 700;
  --fw-300: 800;

  --fs-primary: 15px;

  font-size: var(--fs-primary);
  font-family: var(--ff-primary);
  color: var(--clr-neutral-400);
  background-color: var(--clr-neutral-100);
}

body {
  display: flex;
  flex-flow: column nowrap;
  gap: var(--size-300);
}

footer {
  background-color: var(--clr-primary-100);
  font-weight: var(--fw-100);
}

footer a {
  color: var(--clr-neutral-100);
  text-decoration: none;
}

h1 {
  font-size: var(--size-600);
  font-weight: var(--fw-300);
}

h2 {
  font-size: var(--size-300);
  font-weight: var(--fw-200);
}

h3 {
  font-size: calc(var(--size-200) * 0.85);
  font-weight: var(--fw-200);
}

/* Navigation */

.logo {
  width: 48px;
}

.primary-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-list a {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 963px) {
  [data-menu-toggle]:checked ~ [data-menu-list] {
    display: auto;
  }

  [data-menu-toggle]:not(:checked) ~ [data-menu-list] {
    display: none;
  }

  [data-menu-toggle]:checked ~ [data-menu-toggle-icon]::before {
    background-image: url(assets/images/icon-menu-close.svg);
  }

  [data-menu-toggle]:not(:checked) ~ [data-menu-toggle-icon]::before {
    background-image: url(assets/images/icon-menu.svg);
  }

  [data-menu-toggle-icon]::before {
    --size: 16px;

    content: "";
    display: block;
    height: var(--size);
    width: calc(var(--size) * 2);
    position: relative;
    z-index: 1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
  }

  [data-menu-list] {
    --width: 65vw;
    --shadow: hsl(240, 100%, 5%, 0.7);
    --overlay-width: calc(100vw - var(--width));
    --overlay-color: hsl(251, 4%, 42%, 0.75);

    position: fixed;
    inset: 0 0 0 auto;
    isolation: isolate;
    width: var(--width);
    padding: 25vh var(--size-200);
    background-color: var(--clr-neutral-100);
    box-shadow: 3px 0 20px var(--shadow);
    font-size: var(--size-150);

    display: flex;
    flex-flow: column;
    gap: var(--size-150);
  }

  [data-menu-list]::before {
    content: "";
    display: block;
    width: var(--overlay-width);
    transform: translate(calc(0px - var(--overlay-width)));
    background-color: var(--overlay-color);
    position: absolute;
    inset: 0 auto 0 0;
  }
}

@media (min-width: 963px) {
  [data-menu-list] {
    display: flex;
    gap: var(--size-400);
    color: var(--clr-neutral-300)
  }
}

/* Main */

.primary-header {
  display: flex;
  flex-flow: column;
  gap: var(--size-300);
}

.primary-header .title {
  flex-grow: 1;
  flex-shrink: 1;
}

.primary-header h1 {
  font-size: clamp(var(--size-100), var(--size-500), 10vh);
}

.primary-header .content {
  display: flex;
  flex-flow: column;
  gap: var(--size-200);
  align-items: flex-start;
  line-height: 1.75;
}

.primary-header .title,
.primary-header .content {
  flex-basis: 250px;
  flex-shrink: 1;
}

.primary-header img {
  max-height: 395px;
}

/* Button */

button {
  border: none;
  background-color: var(--clr-primary-200);
  padding: var(--size-100) var(--size-200);
  text-transform: uppercase;
  letter-spacing: 1.75px;
  font-weight: var(--fw-200);
  color: var(--clr-neutral-100);
}

/* Articles */

.articles > article {
  display: flex;
  gap: var(--size-200);
  flex-basis: 300px;
  flex-shrink: 1;
  align-items: center;
}

.articles > article > img {
  flex: 0;
  width: 80px;
}

.articles h2 {
  font-size: var(--size-150);
}

.articles .content {
  display: flex;
  flex-flow: column;
  gap: calc(var(--size-100) * 0.45);
}

.articles .content p {
  color: var(--clr-neutral-300);
}

.articles .content::before {
  content: attr(data-count);
  font-size: var(--size-200);
  font-weight: var(--fw-200);
  color: var(--clr-neutral-200);
}

/* News */

.news p {
  color: var(--clr-neutral-300);
}

.news {
  display: flex;
  flex-flow: column;
  gap: var(--size-200);
  background-color: var(--clr-neutral-400);
  color: var(--clr-neutral-200);
  padding: var(--size-200) var(--size-100);
  min-height: 400px;
  align-self: flex-start;
}

.news h2 {
  color: var(--clr-primary-100);
}

.news h3 {
  font-size: calc(var(--size-200) * 0.75);
}

.news > :not(:first-child) {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-flow: column;
  gap: calc(var(--size-100) * 0.4);
}

.news > :first-child {
  justify-content: flex-end;
}

.news > :not(:last-child, :first-child) {
  border-bottom: 1px solid var(--clr-neutral-300);
}

/* Attribution */

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
  font-weight: var(--fw-200);
}

/* Utilities */

.container {
  width: 90vw;
  margin: 0 auto;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.even-columns {
  display: flex;
  flex-flow: row wrap;
  gap: var(--size-200);
}

.even-columns > * {
  flex: 1 1;
}

.priority-two-columns {
  display: flex;
  flex-flow: row wrap;
}

.priority-two-columns > :first-child {
  flex: 99999 1 550px;
}

.priority-two-columns > :last-child {
  flex: 1 0 300px;
}

.pt-100 {
  padding-block-start: var(--size-100);
}
.pt-200 {
  padding-block-start: var(--size-200);
}
.pt-300 {
  padding-block-start: var(--size-300);
}
.pt-400 {
  padding-block-start: var(--size-400);
}
.pt-500 {
  padding-block-start: var(--size-500);
}
.pt-600 {
  padding-block-start: var(--size-600);
}
.pt-700 {
  padding-block-start: var(--size-700);
}

.py-100 {
  padding-block: var(--size-100);
}
.py-200 {
  padding-block: var(--size-200);
}
.py-300 {
  padding-block: var(--size-300);
}
.py-400 {
  padding-block: var(--size-400);
}
.py-500 {
  padding-block: var(--size-500);
}
.py-600 {
  padding-block: var(--size-600);
}
.py-700 {
  padding-block: var(--size-700);
}

.gap-100 {
  gap: var(--size-100);
}
.gap-200 {
  gap: var(--size-200);
}
.gap-300 {
  gap: var(--size-300);
}
.gap-400 {
  gap: var(--size-400);
}
.gap-500 {
  gap: var(--size-500);
}
.gap-600 {
  gap: var(--size-600);
}
.gap-700 {
  gap: var(--size-700);
}
